.meridian-select-wrapper {
  @apply inline-flex rounded-md border border-gray-400 border-solid relative w-14;
  grid-template-areas: "select";
}

.meridian-select-wrapper::after {
  content: "";
  @apply w-3 h-2 bg-black absolute top-2 right-2;
  clip-path: polygon(90% 30%, 10% 30%, 50% 100%);
}

.meridian-select-wrapper,
.meridian-select-wrapper::after {
  grid-area: select;
}
